$primary: #337ab7;
$success: #5cb85c;
$info: #5bc0de;
$warning: #f0ad4e;
$danger: #d9534f;

.styledButton {
  display: inline-flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  margin: 2px;
  padding: 10px;
  border-radius: 5px;
  color: white;
}

.styledButton > * {
  margin-left: 5px;
}

.styledButton > *:first-child {
  margin-left: 0;
}

.styledButton svg {
  color: white;
}

.primary {
  background-color: $primary;
}

.success {
  background-color: $success;
}

.info {
  background-color: $info;
}

.warning {
  background-color: $warning;
}

.danger {
  background-color: $danger;
}
