{
  "extends": ["airbnb", "prettier"],
  "env": {
    "browser": true
  },
  "rules": {
    "react/jsx-filename-extension": 1
  },
  "settings": {
    "import/resolver": {
      "babel-module": {}
    }
  }
}
