# Node Package Manager
node_modules/
**/npm-debug.log
coverage/
ui/dist/
.nyc_output
.cache
esdoc/
package-lock.json
e2e/output

# Golang
bin/
vendor/
coverage.*
debug.test
api.html

# Docker
cacert.pem
docker-compose.*.yml
