.container {
  display: flex;
  width: 100%;
}

.fill {
  border: 0;
  margin: 0;
  padding: 0;
}

.content {
  flex: 1 1;
}

.list {
  display: grid;
  grid-gap: 0.2rem;
  grid-template-columns: repeat(auto-fill, minmax(35rem, 1fr));
  padding: 0.2rem;
  width: 100%;
}

.size {
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 0.6rem 0 0.4rem;
}

.size svg {
  margin-left: 1rem;
}

@media screen and (max-width: var(--small)) {
  .container {
    flex-wrap: wrap;
  }

  .fill {
    flex: 1 1 auto;
  }
}
