$danger: #d9534f;
$white: #fff;

.flex {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.center {
  justify-content: center;
}

.error {
  background-color: $danger;
  color: $white;
  margin-bottom: 2px;
  padding: 20px;
  width: 100%;
}
