@import '../../../style.css';

.container {
  display: inline-flex;
  flex-wrap: wrap;
  width: 100%;
}

.container h2 {
  width: 100%;
  text-align: center;
}

@media screen and (max-width: 669px) {
  .container {
    flex-wrap: wrap;
  }
}
