$dark: #3a3a3a;
$grey: #e1e1e8;
$clear: #f8f8f8;
$success: #5cb85c;
$danger: #d9534f;

$iconSize: 50px;

@mixin smallPadding {
  padding: 5px;
}

@mixin flexWrap {
  display: inline-flex;
  flex-wrap: wrap;
}

@mixin ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@mixin pastille {
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.flex {
  @include flexWrap;
}

.growingFlex {
  flex: 1 1 auto;
}

.card {
  @include flexWrap;
  @include smallPadding;
  align-items: center;
  width: 33%;
  min-width: 400px;
  margin: 2px;
  border: 1px solid $dark;
  border-radius: 2px;
}

.green {
  @include pastille;
  background-color: $success;
}

.red {
  @include pastille;
  background-color: $danger;
}

.column {
  @include flexWrap;
  flex-wrap: nowrap;
  flex-direction: column;
  min-width: 0;
  flex: 1;
}

.column > span {
  @include ellipsis;
}

.column > * {
  @include smallPadding;
}

@media screen and (min-width: 900px) and (max-width: 1249px) {
  .card {
    width: 49.5%;
  }
}

@media screen and (max-width: 899px) {
  .card {
    width: 100%;
  }
}
