$dark: #3a3a3a;
$grey: #e1e1e8;
$clear: #f8f8f8;
$success: #5cb85c;
$danger: #d9534f;

$iconSize: 50px;
$cardMargin: 2px;

@mixin smallPadding {
  padding: 5px;
}

@mixin flexWrap {
  display: inline-flex;
  flex-wrap: wrap;
}

@mixin ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@mixin pastille {
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.flex {
  @include flexWrap;
}

.growingFlex {
  flex: 1 1 auto;
}

.card {
  @include flexWrap;
  @include smallPadding;
  width: calc((100% - #{$cardMargin} * 2 * 3) / 3');
  align-items: center;
  margin: $cardMargin;
  border: 1px solid $dark;
  border-radius: 2px;
}

.green {
  @include pastille;
  background-color: $success;
}

.red {
  @include pastille;
  background-color: $danger;
}

.column {
  flex: 1;
  display: inline-flex;
  flex-wrap: nowrap;
  flex-direction: column;
  min-width: 0;
  width: 100%;
}

.column > span {
  @include ellipsis;
}

.column > * {
  @include smallPadding;
}

@media screen and (min-width: 800px) and (max-width: 1199px) {
  .card {
    width: calc((100% - #{$cardMargin} * 2 * 2) / 2);
  }
}

@media screen and (max-width: 799px) {
  .card {
    width: calc(100% - #{$cardMargin} * 2);
  }
}
