$dark: #3a3a3a;
$grey: #e1e1e8;
$clear: #f8f8f8;
$success: #5cb85c;
$danger: #d9534f;

$card-margin: 2px;

@mixin small-padding {
  padding: 5px;
}

@mixin flex-wrap {
  display: inline-flex;
  flex-wrap: wrap;
}

@mixin ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@mixin pastille {
  border-radius: 50%;
  height: 20px;
  width: 20px;
}

.flex {
  @include flex-wrap;
}

.fill {
  flex: 1 1 auto;
}

.card {
  @include flex-wrap;
  @include small-padding;
  align-items: center;
  border: 1px solid $dark;
  border-radius: 2px;
  flex: 0 0 calc((100% - (#{$card-margin} * 3) - #{$card-margin}) / 3);
  margin: 0 0 $card-margin $card-margin;
  min-width: 400px;
  width: 200px;
}

.green {
  @include pastille;
  background-color: $success;
}

.red {
  @include pastille;
  background-color: $danger;
}

.column {
  display: inline-flex;
  flex: 1;
  flex-direction: column;
  flex-wrap: nowrap;
  min-width: 0;
}

.column > span {
  @include ellipsis;
}

.column > * {
  @include small-padding;
}

@media screen and (min-width: 800px) and (max-width: 1199px) {
  .card {
    flex: 0 0 calc((100% - (#{$card-margin} * 2) - #{$card-margin}) / 2);
  }
}

@media screen and (max-width: 799px) {
  .card {
    flex: 0 0 calc(100% - (#{$card-margin} * 2));
    min-width: 0;
    width: 99vw;
  }
}
