$dark: #3a3a3a;
$grey: #e1e1e8;
$clear: #f8f8f8;

$primary: #337ab7;
$danger: #d9534f;

$iconSize: 50px;

@mixin darkBox {
  background-color: $dark;
  color: $clear;
}

@mixin smallPadding {
  padding: 5px;
}

@mixin flexWrap {
  display: flex;
  flex-wrap: wrap;
}

@mixin roundBorder {
  @include smallPadding;
  width: auto;
  border: 1px solid;
  border-radius: 5px;
  margin: 2px;
}

@mixin button {
  margin: 2px;
  border-radius: 5px;
  padding: 10px;
  width: auto;
  color: white;
}

@mixin ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

article {
  text-align: left;
}

button {
  background-color: transparent;
  border: 0;
}

.flex {
  @include flexWrap;
  width: 100%;
}

.growingFlex {
  flex: 1 1 auto;
}

.form {
  @include flexWrap;
  width: 100%;
  text-align: center;
  align-items: center;
  padding-top: 10px;
}

.row,
.created,
.fluid {
  @include smallPadding;
}

.hidden {
  display: none;
}

.displayed {
  display: block;
}

.row {
  width: 100%;
  @include flexWrap;
}

.row:nth-child(even) {
  background-color: $grey;
}

.row pre {
  display: inline-block;
  width: 150px;
  @include smallPadding;
  margin: 0;
}

.fluid {
 flex: 1;
 @include ellipsis;
}

.created {
  width: 150px;
}

.icon svg {
  width: 20px;
  height: 20px;
}

.info {
  display: inline-block;
  @include smallPadding;
  width: 100%;
}

.container {
  display: inline-block;
  width: 100%;
  @include smallPadding;
}

.label {
  display: inline-block;
  width: 200px;
}

.code {
  width: 100%;
  white-space: pre-wrap;
  word-break: break-all;
  background: $dark;
  color: $grey;
  font-size: 12px;
  @include smallPadding;
}

.labelsContainer {
  @include flexWrap;
}

.labelItem {
  @include roundBorder;
}

.error {
  color: $danger;
}

@media screen and (max-width: 1023px) {
  .row pre,
  .fluid,
  .created {
    @include roundBorder;
    white-space: normal;
    flex: none;
    max-width: 100%;
  }
}
