$dark: #3a3a3a;
$grey: #e1e1e8;
$success: #5cb85c;
$danger: #d9534f;

@mixin smallPadding {
  padding: 5px;
}

@mixin flexWrap {
  display: inline-flex;
  flex-wrap: wrap;
}

@mixin roundBorder {
  @include smallPadding;
  width: auto;
  border: 1px solid;
  border-radius: 2px;
  margin: 2px;
}

@mixin pastille {
  padding: 10px;
  border-radius: 2px;
  color: white;
}

.flex {
  @include flexWrap;
  width: 100%;
}

.growingFlex {
  flex: 1 1 auto;
}

.green {
  @include pastille;
  background-color: $success;
}

.red {
  @include pastille;
  background-color: $danger;
}

.info {
  display: inline-block;
  @include smallPadding;
  width: 100%;
}

.container {
  display: inline-block;
  width: 100%;
}

.container h2,
.container h3 {
  padding-left : 5px;
}

.code {
  width: 100%;
  white-space: pre-wrap;
  word-break: break-all;
  background: $dark;
  color: $grey;
  font-size: 12px;
  @include smallPadding;
}

.label {
  display: inline-block;
  width: 200px;
}

.labelsContainer {
  @include flexWrap;
}

.labelItem {
  @include roundBorder;
  white-space: pre-wrap;
  word-break: break-all;
}
