$dark: #3a3a3a;
$grey: #e1e1e8;
$clear: #f8f8f8;

$primary: #337ab7;
$success: #5cb85c;
$info: #5bc0de;
$warning: #f0ad4e;
$danger: #d9534f;

$iconSize: 50px;

@mixin darkBox {
  background-color: $dark;
  color: $clear;
}

@mixin smallPadding {
  padding: 5px;
}

@mixin flexWrap {
  display: flex;
  flex-wrap: wrap;
}

@mixin roundBorder {
  width: auto;
  border: 1px solid;
  border-radius: 5px;
  margin: 2px;
}

article {
  text-align: center;
}

button {
  background-color: transparent;
  border: 0;
}

.list {
  width: 100%;
  @include flexWrap;
}

.row,
.created,
.image,
.status,
.names {
  @include smallPadding;
}

.hidden {
  display: none;
}

.displayed {
  display: block;
}

.row {
  width: 100%;
  @include flexWrap;
  text-align: left;
}

.row:nth-child(even) {
  background-color: $grey;
}

.image,
.status,
.names {
 flex: 1;
}

.created {
  width: 350px;
}

.icon svg {
  width: 20px;
  height: 20px;
}

.stop svg {
  color: $danger;
}

.primary svg {
  color: $primary;
}

.code {
  width: 100%;
  white-space: pre-wrap;
  text-align: left;
  background: $dark;
  color: $grey;
  font-size: 12px;
  @include smallPadding;
}

@media screen and (max-width: 1023px) {
  .row:first-child {
    display: none;
  }

  .status,
  .names,
  .image,
  .created {
    @include roundBorder;
    flex: none;
    max-width: 100%;
  }
}
