$dark: #3a3a3a;
$grey: #e1e1e8;
$success: #5cb85c;
$danger: #d9534f;
$white: #fff;

@mixin small-padding {
  padding: 5px;
}

@mixin flex-wrap {
  display: inline-flex;
  flex-wrap: wrap;
}

@mixin round-border {
  @include small-padding;
  border: 1px solid;
  border-radius: 2px;
  margin: 2px;
  width: auto;
}

@mixin pastille {
  border-radius: 2px;
  color: $white;
  display: inline-block;
  padding: 10px;
}

.flex {
  @include flex-wrap;
  width: 100%;
}

.fill {
  flex: 1 1 auto;
}

.green {
  @include pastille;
  background-color: $success;
}

.red {
  @include pastille;
  background-color: $danger;
}

.info {
  @include small-padding;
  display: inline-block;
  white-space: pre-wrap;
  width: 100%;
  word-break: break-all;
}

.container {
  display: inline-flex;
  flex-wrap: wrap;
  width: 100%;
}

.container h2,
.container h3 {
  margin-bottom: 0;
  padding-left: 5px;
  width: 100%;
}

.container h2 {
  border: 0;
  margin: 0;
  padding: 0 0 0 2px;
}

.code {
  @include small-padding;
  background: $dark;
  color: $grey;
  font-size: 12px;
  white-space: pre-wrap;
  width: 100%;
  word-break: break-all;
}

.label {
  display: inline-block;
  width: 200px;
}

.labels {
  @include flex-wrap;
}

.item {
  @include round-border;
  white-space: pre-wrap;
  word-break: break-all;
}
