@import '../../style.less';

.container {
  flex: 1 1 @statsWidth;
}

.container h3 {
  margin-bottom: 0;
  padding-left: 0.4rem;
  width: 100%;
}

.container pre {
  height: @statsHeight + 0.5rem;
  margin: 0.5rem 0;
  overflow-y: auto;
}

.code {
  background: @dark;
  color: @grey;
  font-size: 1.2rem;
  padding: 0.4rem;
  white-space: pre-wrap;
  width: 100%;
  word-break: break-all;
}
