@import '../../style.less';

.container {
  display: inline-flex;
  flex-wrap: wrap;
  width: 100%;
}

.container h3 {
  margin-bottom: 0;
  padding-left: 4px;
  width: 100%;
}

.button {
  margin: 16px 0 16px 2px;
}

.code {
  background: @dark;
  color: @grey;
  font-size: 12px;
  padding: 4px;
  white-space: pre-wrap;
  width: 100%;
  word-break: break-all;
}
