@import '../../style.less';

.container {
  display: inline-flex;
  flex: 1 1 50%;
  flex-wrap: wrap;
  justify-content: center;
}

.container h3 {
  margin-bottom: 0;
  padding-left: 0.4rem;
  width: 100%;
}

.container > span {
  width: 100%;
}

.label {
  display: inline-block;
  padding: 0.4rem;
  width: 17.6rem;
}

@media screen and (max-width: @small) {
  .graph {
    width: 100%;
  }
}
