.container {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

.container h3 {
  margin-bottom: 0;
  padding-left: 4px;
  width: 100%;
}

.container > span {
  width: 100%;
}

.label {
  display: inline-block;
  padding: 4px;
  width: 176px;
}

@media screen and (max-width: 800px) {
  .graph {
    width: 100%;
  }
}
