$grey: #e1e1e8;

.flex {
  align-items: center;
  display: inline-flex;
  flex-wrap: wrap;
  text-align: center;
  width: 100%;

  input[type='text'],
  textarea {
    border: 1px solid $grey;
    border-radius: 2px;
    margin-bottom: 5px;
    padding: 20px;
    width: 50%;
  }
}

.flex > * {
  width: 100%;
}

.code {
  font-family: monospace;
}

@media screen and (max-width: 1023px) {
  .flex input[type='text'],
  .flex textarea {
    width: 90%;
  }
}
