$grey: #e1e1e8;
$danger: #d9534f;

.flex {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  align-items: center;
}

.flex > * {
  width: 100%;
}

.flex input[type="text"],
.flex textarea {
  width: 50%;
  padding: 10px;
  margin-bottom: 5px;
  border-radius: 2px;
  border: 1px solid $grey;
}

.code {
  font-family: monospace; 
}

.error {
  color: $danger;
}

@media screen and (max-width: 1023px) {
  input[type="text"],
  textarea {
    width: 90%;
  }
}
