@import '../../style.less';

.flex {
  align-items: center;
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  width: 100%;
}

.flex h2 {
  width: 100%;
}

.flex input[type='text'],
.flex input[type='password'] {
  border: 0.1rem solid @grey;
  border-radius: 0.2rem;
  margin: 0.4rem;
  padding: 2rem;
  text-align: center;
  width: 50%;
}

@media screen and (max-width: 1023px) {
  .flex input[type='text'],
  .flex input[type='password'] {
    width: 90%;
  }
}

.center {
  margin: 0 auto;
  width: 100%;
}

.icons svg {
  height: 8rem;
  width: 8rem;
  fill: @dark;
}
