$primary: #337ab7;

.form {
  width: 100%;
  display: flex;
  text-align: center;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 10px;
}

.form > * {
  width: 100%;
}

input[type="text"],
input[type="password"],
textarea {
  width: 50%;
  padding: 20px;
}

.code {
  font-family: monospace; 
}

.styledButton {
  margin: 2px;
  padding: 10px;
  border-radius: 5px;
  color: white;
  background-color: $primary;
}

.styledButton svg {
  color: white;
}

.error {
  color: #d9534f;
}

@media screen and (max-width: 1023px) {
  input[type="text"],
  input[type="password"],
  textarea {
    width: 90%;
  }
}
