@font-face {
  font-family: 'Open Sans';
  src: local('Open Sans'), local('OpenSans'), url(https://fonts.gstatic.com/s/opensans/v13/cJZKeOuBrn4kERxqtaUH3bO3LdcAZYWl9Si6vvxL-qU.woff) format('woff');
}

@charset "UTF-8";

@import '~normalize.css/normalize.css';

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  margin: 0;
}

body,
button,
input {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
}

header {
  background-color: #3a3a3a;
  color: #f8f8f8;
  text-align: center;
  width: 100%;
}

h1 {
  font-size: 3.2rem;
  margin: 0;
  padding: 1rem;
}

svg {
  height: 2.2rem;
  width: 2.2rem;
}

@media screen and (max-width: 66.9rem) {
  h1 {
    font-size: 2rem;
  }
}

@media print {
  body::after {
    content: 'Save ink, share link.';
  }

  body > * {
    display: none;
  }
}
