$dark: #3A3A3A;
$clear: #F8F8F8;

@mixin darkBox {
  background-color: $dark;
  color: $clear;
}

@mixin smallPadding {
  padding: 10px;
}

.mainLayout {
  height: 100%;
  width: 100%;
  display: inline-flex;
  flex-wrap: wrap;
}

nav > ul {
  @include darkBox;
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

li {
  @include smallPadding;
}

a, a:hover, a:visited, a:active, a:focus {
  text-decoration: none;
  color: inherit;
}

article {
  text-align: center;
  flex: 1;
}

@media screen and (max-width: 669px) {
  article {
    flex-basis: auto;
  }
}