@import '../../style.less';

@card-margin: 0.2rem;

.small-padding {
  padding: 0.4rem;
}

.pastille {
  border-radius: 50%;
  height: 2.0rem;
  margin: 0.4rem;
  width: 2.0rem;
}

.card {
  .small-padding;

  align-items: center;
  background-color: transparent;
  border: 0.1rem solid @card-border;
  display: inline-flex;
  flex: 1 1 calc(~'100% / 4 - @{card-margin}');
  flex-wrap: wrap;
  margin: @card-margin / 2;
  max-width: calc(~'100% / 4 - @{card-margin}');
}

.green {
  .pastille;

  background-color: @success;
}

.red {
  .pastille;

  background-color: @danger;
}

.column {
  display: inline-flex;
  flex: 1;
  flex-direction: column;
  flex-wrap: nowrap;
  min-width: 0;
}

.column > span {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.column > * {
  .small-padding;
}

@media screen and (min-width: 120.8rem) and (max-width: 160.9rem) {
  .card {
    flex: 1 1 calc(~'100% / 3 - @{card-margin}');
    max-width: calc(~'100% / 3 - @{card-margin}');
  }
}

@media screen and (min-width: 80.6rem) and (max-width: 120.7rem) {
  .card {
    flex: 1 1 calc(~'100% / 2 - @{card-margin}');
    max-width: calc(~'100% / 2 - @{card-margin}');
  }
}

@media screen and (max-width: 80.5rem) {
  .card {
    flex: 1 1 calc(~'100% - @{card-margin}');
    max-width: calc(~'100% - @{card-margin}');
  }
}
