@import '../../style.less';

@card-margin: 0.2rem;

.small-padding {
  padding: 0.4rem;
}

.pastille {
  border-radius: 50%;
  height: 2rem;
  margin: 0.4rem;
  width: 2rem;
}

.card {
  .small-padding;

  align-items: center;
  background-color: transparent;
  border: 0.1rem solid @card-border;
  display: inline-flex;
  flex: 1 1 calc(~'100% / 4 - @{card-margin}');
  flex-wrap: wrap;
  margin: @card-margin / 2;
  max-width: calc(~'100% / 4 - @{card-margin}');
}

.green {
  .pastille;

  background-color: @success;
}

.red {
  .pastille;

  background-color: @danger;
}

.ellipsis {
  overflow: hidden;
  text-align: left;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.column {
  display: inline-flex;
  flex: 1;
  flex-flow: column nowrap;
  min-width: 0;
  width: 10rem;
}

.column > * {
  .small-padding;
}

.image {
  .ellipsis;
}

.owner {
  .small-padding;

  font-style: italic;
  text-align: right;
}

.external {
  .small-padding;

  text-align: right;

  svg {
    color: @dark;
  }
}

@media screen and (min-width: 1208px) and (max-width: 1609px) {
  .card {
    flex: 1 1 calc(~'100% / 3 - @{card-margin}');
    max-width: calc(~'100% / 3 - @{card-margin}');
  }
}

@media screen and (min-width: 806px) and (max-width: 1207px) {
  .card {
    flex: 1 1 calc(~'100% / 2 - @{card-margin}');
    max-width: calc(~'100% / 2 - @{card-margin}');
  }
}

@media screen and (max-width: 805px) {
  .card {
    flex: 1 1 calc(~'100% - @{card-margin}');
    max-width: calc(~'100% - @{card-margin}');
  }
}
