$grey: #e1e1e8;

.flex {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  align-items: center;
}

.flex > * {
  width: 100%;
}

.flex input[type="text"],
.flex input[type="password"] {
  text-align: center;
  width: 50%;
  padding: 20px;
  margin: 5px;
  border-radius: 2px;
  border: 1px solid $grey;
}

@media screen and (max-width: 1023px) {
  input[type="text"],
  input[type="password"] {
    width: 90%;
  }
}
