@import '../../index.less';

.flex {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.flex > * {
  margin: 2px 0 2px 2px;
}

.flex > *:last-child {
  margin: 2px;
}

.error {
  background-color: @danger;
  color: @white;
  margin-bottom: 2px;
  padding: 20px;
  width: 100%;
}
