.main-layout {
  display: inline-flex;
  flex-wrap: wrap;
  height: 100%;
  width: 100%;
}

article {
  flex: 1;
  text-align: left;
}

@media screen and (max-width: 669px) {
  article {
    flex-basis: auto;
  }
}
