.container {
  display: flex;
  width: 100%;
}

.code {
  font-family: monospace;
}

.content {
  align-items: center;
  text-align: center;
  width: 100%;
}

.content h2,
.content > span {
  width: 100%;
}

.content input[type='text'],
.content textarea {
  border: 0.1rem solid var(--grey);
  border-radius: 0.2rem;
  display: block;
  margin: 0 auto 0.5rem;
  padding: 2rem;
  width: 50%;
}

.content textarea {
  resize: vertical;
}

@media screen and (max-width: var(--small)) {
  .container {
    flex-wrap: wrap;
  }

  .content input[type='text'],
  .content textarea {
    width: 90%;
  }
}
