.container {
  margin: 0 auto;
  text-align: center;
}

.throbber {
  align-items: center;
  margin: auto;
  display: flex;
  justify-content: center;
  padding: 0.2rem;
  width: auto;
}

.column {
  flex-direction: column;
}

@media screen and (max-width: var(--small)) {
  .row-responsive {
    flex-direction: row;
  }
}

.throbber > div {
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  background-color: var(--dark);
  border-radius: 100%;
  display: inline-block;
  height: 1.2rem;
  width: 1.2rem;
}

.throbber .bounce1 {
  animation-delay: -0.32s;
}

.throbber .bounce2 {
  animation-delay: -0.16s;
}

.white > div {
  background-color: var(--white);
}

@keyframes sk-bouncedelay {
  0%,
  80%,
  100% {
    transform: scale(0);
  }

  40% {
    transform: scale(1);
  }
}
