$dark: #3a3a3a;

.throbberContainer {
  margin: auto;
  text-align: center;
}

.throbber {
  width: 70px;
  margin: auto;
  text-align: center;
}

.throbber > div {
  width: 14px;
  height: 14px;
  background-color: $dark;

  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.white > div {
  background-color: #ffffff;
}

.throbber .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.throbber .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

.error {
  color: #d9534f;
}

@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0) }
  40% { -webkit-transform: scale(1.0) }
}
