.flex {
  display: inline-flex;
  flex-wrap: wrap;
}

.header {
  text-align: center;
  width: 100%;
}

.containers {
  width: auto;
  margin-bottom: 8px;
}

.fill {
  flex: 1 1 auto;
  text-align: center;
}
