.flex {
  display: inline-flex;
  flex-wrap: wrap;
  width: 100%;
}

.header {
  text-align: center;
  width: 100%;
}

.version {
  width: auto;
  margin-bottom: 8px;
  margin-right: 8px;
}

.version:last-child {
  margin-right: 0;
}

.fill {
  flex: 1 1 auto;
  text-align: center;
}
