:root {
  --primary: #337ab7;
  --success: #5cb85c;
  --danger: #d9534f;
  --white: #fff;
  --dark: #3a3a3a;
  --grey: #e1e1e8;
  --card-border: #ddd;
  --small: 669px;
  --large: 1023px;
  --statsWidth: 60rem;
  --statsHeight: 28rem;
}
