@import '../../style.less';

.container {
  display: flex;
  width: 100%;
}

@media screen and (max-width: @small) {
  .container {
    flex-wrap: wrap;
  }
}

.flex {
  padding-top: 2px;
  align-items: center;
  display: inline-flex;
  flex-wrap: wrap;
  text-align: center;
  width: 100%;
}

.flex > * {
  width: 100%;
}

.flex input[type='text'],
.flex textarea {
  border: 1px solid @grey;
  border-radius: 2px;
  margin-bottom: 5px;
  padding: 20px;
  width: 50%;
}

.code {
  font-family: monospace;
}

@media screen and (max-width: 1023px) {
  .flex input[type='text'],
  .flex textarea {
    width: 90%;
  }
}
