@import '../../style.less';

.container {
  display: flex;
  width: 100%;
}

@media screen and (max-width: @small) {
  .container {
    flex-wrap: wrap;
  }
}

.content {
  align-items: center;
  text-align: center;
  width: 100%;
}

.content aside {
  padding: 1rem 0;
}

.content > h2,
.content > span {
  width: 100%;
}
