@import '../../style.less';

@card-margin: 0.2rem;

.small-padding {
  padding: 0.4rem;
}

.pastille {
  border-radius: 50%;
  height: 2rem;
  margin: 0.4rem;
  width: 2rem;
}

.card {
  .small-padding;

  background-color: transparent;
  border: 0.1rem solid @card-border;
}

.green {
  .pastille;

  background-color: @success;
}

.red {
  .pastille;

  background-color: @danger;
}

.ellipsis {
  overflow: hidden;
  text-align: left;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.column {
  display: inline-flex;
  flex: 1;
  flex-flow: column nowrap;
  min-width: 0;
  width: 10rem;
}

.column > * {
  .small-padding;
}

.image {
  .ellipsis;
}

.owner {
  .small-padding;

  font-style: italic;
  text-align: right;
}

.external {
  .small-padding;

  text-align: right;

  svg {
    color: @dark;
  }
}
